<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/panel.css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="top">

    </div>
    <div class="mid">
        <div class="res1">
            <h3 id="msg_bk"></h3>
        </div>
        <form method="post" id="uid">
            <div class="log">
                <div class="name">
                    <input type="text" name="" id="user_ad" placeholder="Username" required>
                </div>
                <div class="pass">
                    <input type="text" name="" id="pass_ad" placeholder="Password" required>
                </div>
                <div class="tok">
                    <input type="text" name="" id="gen_inp" placeholder="Token" required>
                    <div class="btn1">
                        <button id="gen_btn" type="button">Generate</button>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit">Add</button>
                </div>
                <div class="btn2">
                    <button id="remove_btn" type="button">Remove</button>
                </div>
                <div class="btn3">
                    <div class="bl">
                        <button type="submit">Block</button>
                    </div>
                    <div class="unbl">
                        <button type="submit">Unblock</button>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <div>

            </div>
        </form>
    </div>
    <div class="bot">
        <p style="font-size: x-small; font-weight: bold; color: #c0bdbd;">Powered by <strong style="color: #ffffff;font-weight: bolder; font-size: 11px;margin-left: 1px;">CuldaStudios.</strong></p>
    </div>
<!--   script stb -->
  <script src="./js/stb.js"></script>
</body>
</html>