<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="top">
        <div class="section1">
            <div class="img">
                <img src="./img/sada1.png" alt="">
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a class="active" href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class="tbn">
            <button id="logout" class="card-bt" >Logout <span>&rarr;</span></button>
        </div>
    </div>
    <div class="mid">
        <form action="">
            <div class="grid">
                <div class="grid-item">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-header">Generator Pack</h1>
                            <p class="card-text">
                                You can generate phone numbers from different countries of the world as you wish, and you can rely on <strong>the checker pack </strong> to make sure the numbers are correct
                            </p>
                        <a class="card-btn" href="/gen">Visit <span>&rarr;</span></a>
                        </div>
                    </div>
                </div>
                    <div class="grid-item">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-header">Checkers Pack</h1>
                            <p class="card-text">
                                You can check the phone numbers if they are <strong>active or not</strong>, and you can get information about <strong>the carrier </strong> of the number, in addition to the type of the phone
                        </p>
                            <a class="card-btn" href="/check">Visit  <span>&rarr;</span></a>
                        </div>
                    </div>
                    </div>
                        <div class="grid-item">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-header">Soon...</h1>
                            <p class="card-text1">
                                We will add a set of tools,<br> <strong>stay alert</strong>
                            </p>
                        <a class="card-btn" href="">For More... <span>&rarr;</span></a>
                        </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="bot">
        <p style="font-size: x-small; font-weight: bold; color: #313131;">Powered by <strong style="color: #000000;font-weight: bolder; font-size: 11px;margin-left: 1px;">CuldaStudios.</strong></p>
    </div>
<!--   stb script -->
  <script src="./js/stb.js"></script>
</body>
</html>